@model EISG20240905.DTOs.ProductEISGDTOs.GetIdResultProductEISGDTO

@{
	ViewData["Title"] = "Delete";
}

<div class="row" style="margin-top:70px;">
	<div class="row">
		<form asp-action="Delete" class="card">
			<div class="card-header row">
				<h1 class="card-text col-md-12">Eliminar Producto</h1>
			</div>
			<div class="card-body row">
				<div class="form-group col-md-6">
					<label asp-for="NombreEISG" class="control-label">Nombre<span style="color:red;">*</span></label>
					<input asp-for="NombreEISG" disabled class="form-control" />
					<span asp-validation-for="NombreEISG" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Precio" class="control-label">Precio <span style="color:red;">*</span></label>
					<input asp-for="Precio" type="number" disabled class="form-control" />
					<span asp-validation-for="Precio" class="text-danger"></span>
				</div>
				<div class="form-group col-md-12">
					<label asp-for="DescripcionEISG" class="control-label"></label>
					<textarea asp-for="DescripcionEISG" disabled class="form-control"></textarea>
					<span asp-validation-for="DescripcionEISG" class="text-danger"></span>
				</div>
				<div class="col-md-6" style="margin-top:10px;">
					<input style="width:100%;" type="submit" value="Eliminar" class="btn btn-danger" />
				</div>
				<div class="col-md-6" style="margin-top:10px;">
					<a style="width:100%;" class="btn btn-secondary" asp-action="Index">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</div>
