@model EISG20240905.DTOs.ProductEISGDTOs.EditProdcutEISGDTO

@{
	ViewData["Title"] = "Edit";
}

<div class="row" style="margin-top:70px;">
	<div class="row">
		<form asp-action="Edit" class="card">
			<div class="card-header row">
				<h1 class="card-text col-md-12">Modificar Producto</h1>
			</div>
			<div class="card-body row">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="Id" type="hidden" />
				<div class="form-group col-md-6">

					<label asp-for="NombreEISG" class="control-label">Nombre<span style="color:red;">*</span></label>
					<input asp-for="NombreEISG" class="form-control" />
					<span asp-validation-for="NombreEISG" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Precio" class="control-label">Precio <span style="color:red;">*</span></label>
					<input asp-for="Precio" type="number" class="form-control" />
					<span asp-validation-for="Precio" class="text-danger"></span>
				</div>
				<div class="form-group col-md-12">

					<label asp-for="DescripcionEISG" class="control-label"></label>
					<textarea asp-for="DescripcionEISG" class="form-control"></textarea>
					<span asp-validation-for="DescripcionEISG" class="text-danger"></span>

				</div>
				<div class="form-group col-md-6" style="margin-top:10px;">
					<input type="submit" value="Guardar" class="btn btn-primary" style="width:100%;" />
				</div>
				<div class="col-md-6" style="margin-top:10px;">
					<a class="btn btn-secondary" style="width:100%;" asp-action="Index">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
